.lienhe{
    font-size: clamp(12px, 2.5vw, 18px);

}

.gt{
    font-size: clamp(12px, 2.5vw, 19px);
}

.dchi{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.dchi .chon_dchi{
    font-size: clamp(12px, 2.5vw, 17px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;;
}

.bando{
    width:40%; 
    height:auto;
}
 
.chon_dchi div{
    width: 80%;
}

.dchi .tab_button.active{
    background: #000000;
    color: #fff;
 }

.dchi .tab_button{
    cursor: pointer;
    padding: 10px 35px;
    border: 0.2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    transition: .4s cubic-bezier(.5, 0, 0, 1.25);
 }

 .dchi .tab_button:hover{
    background: #000000;
    color: #fff;
 }

 .dchi .tab_ds.active{
    width: 100%;
    height: 100%;
 }
    

 @media (max-width: 1024px) {
    .bando{
        width:90%;
        
    }

    .dchi{
        align-items: center;
        justify-content: center;
    }
 }