.lienhe{
    font-size: 18px;

}

.dchi{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.dchi .chon_dchi{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;;
}
 
.chon_dchi div{
    width: 470px;
}

.dchi .tab_button.active{
    background: #000000;
    color: #fff;
 }

.dchi .tab_button{
    cursor: pointer;
    padding: 10px 35px;
    border: 0.2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    transition: .4s cubic-bezier(.5, 0, 0, 1.25);
 }

 .dchi .tab_button:hover{
    background: #000000;
    color: #fff;
 }

 .dchi .tab_ds.active{
    width: 100%;
    height: 100%;
 }
    

 