.banner{
    position: relative; 
    overflow: hidden; 
    width: 100%; 
    height: 400px;
}

.slider-wrapper {
    display: flex;
    width: 100%;
    transition: transform 0.8s ease-in-out;
}

.slider-wrapper img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;
}

.dichvu{
    margin: 70px 0px;
    justify-content: center;
    font-size: 15px;
    display: flex;


}
.dichvu b{
    font-size: 18px;
}
.dichvu div{
    gap:10px;
    display: flex;
}

.dichvu p{
    width: 230px;
}

.bphu{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 25px;
}

.bphu div img {
    width: 600px;
    border-radius: 30px;
}
.imgsp{
    position:relative;
}
.overclay{
    border-radius: 30px;
    top: -1px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;

}

.banchay{
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-bottom: 30px;
}

.banchay .chon_spbc{
    font-size: 17px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    white-space: nowrap;
}
 
.tab_button{
    border: 0.5px solid black;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 8px 16px;
}
 

.tab_button.active{
    background-color: black;
    color: white;
}

 .chon_dsbc{
    display:grid;
    justify-content: center;
    gap:20px;
    margin: 0 30px;
 }

 .dsbc a{
    text-decoration: none;
 }
.dsbc a:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* giá»‘ng Figma */
    transform: translateY(-2px)
 }


input[name = "xthem"]{
    margin-top: 40px;
    border: 0.2px solid #333;
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #000000;
    font-weight: 600;
    transition: .4s cubic-bezier(.5, 0, 0, 1.25);
}

input[name = "xthem"]:hover{
    border: 0.2px solid #333;
    background-color: white;
    color: #000000;
 }

